site_name: {{ project_name }}

repo_url: https://git01.iis.fhg.de/{{remote_url.split(":")[1]}}
repo_name: {{remote_url.split("/")[-1]}}
site_url: http://{{remote_url.split(":")[1].split("/")[0]}}.git01.iis.fhg.de/{{"/".join(remote_url.split(":")[1].split("/")[1:])}}
edit_uri: -/edit/main/docs/

theme:
  name: material

plugins:
  - search
  - git-revision-date-localized:
      type: timeago
      fallback_to_build_date: true
  - mkdocstrings:
      default_handler: python
      enable_inventory: True
      handlers:
        python:
          paths: [src]
          options:
            show_root_heading: True
            show_category_heading: false
            show_submodules: True
          import:
            - https://numpy.org/doc/stable/objects.inv
