# {{project_name}}

![coverage][] ![maintainability][]

[coverage]: http://{{remote_url.split(":")[1].split("/")[0]}}.git01.iis.fhg.de/{{"/".join(remote_url.split(":")[1].split("/")[1:].replace(".git", ""))}}/badges/coverage.svg
[maintainability]: http://{{remote_url.split(":")[1].split("/")[0]}}.git01.iis.fhg.de/{{"/".join(remote_url.split(":")[1].split("/")[1:].replace(".git", ""))}}/badges/maintainability.svg

<!-- TODO: extend readme template -->

## Installation

```console
pip install git+{{ remote_url | replace(':', '/') | replace('git@', 'https://') | replace('.git', '') }}
```

*This project was created using the [Fraunhofer IIS Project Template for Python](https://github.com/jannismain/iis-project-template-python)*
