# {{project_name}}

{%- set url_pages = "http://" + remote_url.split(":")[1].split("/")[0] + ".git01.iis.fhg.de/" + "/".join(remote_url.split(":")[1].split("/")[1:]).replace(".git", "") %}
{%- set url_project = "http://git01.iis.fhg.de/" + remote_url.split(":")[1].replace(".git", "") %}

[![documentation][badge_documentation]]({{url_pages}}) [![badge_pipeline][]]({{url_project}}/-/pipelines) [![badge_coverage][]]({{url_pages}}/coverage) [![badge_maintainability][]]()

[badge_documentation]: {{url_pages}}/badges/documentation.svg
[badge_coverage]: {{url_project}}/badges/main/coverage.svg
[badge_pipeline]: {{url_project}}/badges/main/pipeline.svg
[badge_maintainability]: {{url_pages}}/badges/maintainability.svg

<!-- TODO: extend readme template -->

## Installation

```console
pip install git+{{ remote_url | replace(':', '/') | replace('git@', 'https://') | replace('.git', '') }}
```

## Usage

Call the `{{ package_name | replace("_", "-") }}` command line interface like this:

```console
$ {{ package_name | replace("_", "-") }}
Hello, {{project_name}}!
```

Provide the `--help` option to see supported options and arguments.

---
*This project was created using the [Fraunhofer IIS Project Template for Python](https://git01.iis.fhg.de/mkj/iis-project-template)*
