# {{project_name}}

<!-- TODO: better readme template -->

*This project was created using the [Fraunhofer IIS Project Template for Python](https://github.com/jannismain/iis-project-template-python)*
