[submodule "template/{% if docs_template == 'sphinx-fhg-iis' %}docs{% endif %}"]
	path = "template/{% if docs_template == 'sphinx-fhg-iis' %}docs{% endif %}"
	url = git@git01.iis.fhg.de:mkj/sphinx_template.git
